%h2 My Bookmarks
- if policy(Bookmark.new).create?
  = link_to "New", new_bookmark_path, class: 'btn btn-success'
- current_user.categories.uniq.each do |category|
  %h4= link_to "##{category.name}", category
  - category.bookmarks.where(user_id: current_user.id).each do |bookmark|
    .media
      .media-body
        = link_to bookmark.url

%h2 Liked Bookmarks
- current_user.likes.each do |like|
  - bookmark = Bookmark.find(like.bookmark_id)
  .media
    .media-body
      = render partial: 'likes/like', locals: { bookmark: bookmark }
      = link_to bookmark.url
